body {
  font-family: pt-sans;
  color: white;
  /* background-color: rgb(242, 162, 98); */
  background-color: white;
  padding: 0px;
  margin: 0px;
}

#top {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#foot {
  margin-left: 0%;
  margin-right: 0%;
  padding: 20px 5% 20px 5%;
  background-color: rgb(40,40,40);
  text-align:center;
}

.section {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 30px;
  color: rgb(245,245,245);
  animation: fade-in 2s ease forwards 2s;
}

h1 {
  font-size: 40px;
  display: block;
  border-top: 4px solid rgb(245,245,245);
  animation: fade-overline 2s ease forwards 2s;
}

.initiative {
  /* margin-left: -10px; */
  border-left: 2px solid rgb(245,245,245);;
  padding-left: 8px;
  animation: fade-leftbar 2s ease forwards 2s;
  margin-bottom: 40px;
}

h2 {
  font-size: 25px;
}

a {
  color: rgb(245,245,245);
  text-decoration: underline;
  animation: fade-link 2s ease forwards 2s;
}

a:hover {
  text-decoration: none;
}

.speaker {
  text-align: justify;
}

img {opacity: 0.15;
animation: fade-image 2s ease forwards 2s;}
img.wrap {float: right}

#footer-cs-logo {
  width: 30%;
}

.mobile {display: none}
  .desktop {display: inline}

@media all and (max-width: 1000px) {
  .mobile {display: inline}
  .desktop {display: none}
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 5vw;
  }
  .section {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;
  }
  #top {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  #footer-cs-logo {
    width: 70%;
  }
  .speaker {
  text-align: left;
  }
}


#title-logo path:nth-child(2) {
  stroke: rgb(105,135,153);
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: anim 2s ease forwards 0.5s, fill 2s ease forwards 2s;
  fill: rgba(105, 135, 153, 0.2);
}
#title-logo path:nth-child(3) {
  stroke: rgb(105,135,153);
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  animation: fill 2s ease forwards 2s;
  fill: rgba(105, 135, 153, 0.2);
}
#title-logo path:nth-child(4) {
  stroke: rgb(105,135,153);
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  animation: anim 2s ease forwards 0.5s, fill 2s ease forwards 2s;
  fill: rgba(105, 135, 153, 0.2);
}
#title-logo path:nth-child(5) {
  stroke: rgb(105,135,153);
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  animation: anim 2s ease forwards 0.5s, fill 2s ease forwards 2s;
  fill: rgba(105, 135, 153, 0.2);
}

@keyframes anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill{
  to{
    fill: rgb(105,135,153);
  }
  to{
    stroke-width: 0;
  }
}


@keyframes fade-in{
  to{
    color:rgb(40,40,40);
  }
}

@keyframes fade-image{
  to{
    opacity: 1.0;
  }
}

@keyframes fade-overline{
  to{
    border-top: 4px solid rgb(105,135,153);
  }
}

@keyframes fade-leftbar{
  to{
    border-left: 2px solid rgb(105,135,153);
  }
}

@keyframes fade-link{
  to{
    color:rgb(105,135,153);
  }
}
