html, body {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 400;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #1813AC;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.topnav a:hover {
  font-weight: 600;
  color: white;
}

.topnav a.active {
  font-weight: 600;
  color: white;
}

.topnav-right {
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.section {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
}

.title-page {
  padding: 0px;
  margin: 0px;
  margin-left: 0%;
  margin-right: 0%;
  width: 100vw;
  height: 100vh;
  background-color: #1813AC;
  display: inline-block;
}

a {
  color: #1813AC;
  text-decoration: underline;
}

a:hover {
  color: #1813AC;
  text-decoration: none;
}

#title {
  color: white;
}

/* To be used together (overline + heading) */

.heading {
  margin-top: 0px;
  padding-top: 0px;
}

.page-heading {
  font-size: 70px;
}

.overline {
  color: #F03E4E;
  margin-bottom: 5px;
}


h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

#banner {
  font-family: source-code-pro, monospace;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #F03E4E;
}

.initiative {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
  padding-bottom: 50px;
}

.initiative-info {
  flex: 50%;
  max-width: 50%;
  text-align: left;
}

.initiative-image {
  flex: 50%;
  max-width: 50%;
  text-align: center;
}

.initiative-image img {
  margin-top: 0px;
  vertical-align: middle;
  width: 70%;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  height: 40%;
}

.column p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.column h4 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.container {
  top:60vh;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
}
.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  width:0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #00b6f1;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #00b6f1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    flex: 45%;
    max-width: 45%;
  }
  .initiative-info {
    flex: 100%;
    max-width: 100%;
    text-align: left;
  }
  .initiative-image {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
  .initiative-image img {
    width: 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #title {
    font-size: 40px;
  }
  #title-img {
    width: 80%;
  }
}
